*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    background-color:#2b2929;
    color: white;
    text-align: center;
    
}
.box2{
    height: 20px;
    background-color: #38393b;
}

ul {
    color: white;
    text-align: center;
    margin: auto;
}

ul li {
    display: inline;
    margin: 20px;
}

ul li a{
    color: white;
    display: inline;
    text-decoration: none;
}
.box3{
    height:100px;
    background-color: whitesmoke;
    
}
.p1{
    text-align: center;
    height:100vh;
    background-color: whitesmoke;
    
}
.common{
    height: 20px;
    background-color: #38393b;
    
}