*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    height: 60px;
    background-color:#2b2929;
    color: white;
    text-align: center;
    padding-top: 15px;
    
}
.box2{
    height: 30px;
    background-color: #38393b;
    padding-top: 5px;
    
}

ul{
    color: white;
    text-align: center;
    margin: auto;
}

ul li {
    display: inline;
    margin: 20px;
}

ul li a{
    color: white;
    display: inline;
    text-decoration: none;
}
.box3{
    height:100vh;
    background-color: rgb(241, 233, 233);
}
.h{
    padding-left: 60px;
    padding-top: 20px;
}
.h a{
    text-decoration: none;
    color: ;
}
.common{
    height: 30px;
    background-color: #38393b;
    padding-top: 5px;
}
.innerbox{
    height: 100vh;
    background-color: rgb(211, 203, 203);
    margin-left: 50px;
    margin-right: 50px;
    
}
