*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    background-color:#2b2929;
    color: white;
    text-align: center;
    
}
.box1{
}
.box2{
    height: 20px;
    background-color: #38393b;
}

ul {
    color: white;
    text-align: center;
    margin: auto;
}

ul li {
    display: inline;
    margin: 20px;
}

ul li a{
    color: white;
    display: inline;
    text-decoration: none;
}
